* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-image: linear-gradient(90deg, #449aff, #a0cbff);
    color: white;
}

header h1 {
    margin: 0;
}

.games {
    padding: 20px;
}

.games ul {
    list-style: none;
    padding: 0;
}

.games li {
    display: block;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 1.5px solid #449aff;
    border-radius: 10px;
}

.games li a {
    display: block;
    margin: 0;
    width: 100%;
    border-bottom: 2px solid #449aff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #005ecb;
}

.games li p {
    margin-bottom: 0;
}