* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-image: linear-gradient(90deg, #449aff, #a0cbff);
    color: white;
}

header h1 {
    margin: 0;
}

.games {
    padding: 20px;
}

.games ul {
    list-style: none;
    padding: 0;
}

.games li {
    display: block;
    margin: 0;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.games li h3 {
    margin: 0;
}

.games li p {
    margin-bottom: 0;
}